<p>
  <b>Grant:</b>
  <%=h @grant_ggroup.grant_id %>
</p>

<p>
  <b>Ggroup:</b>
  <%=h @grant_ggroup.ggroup_id %>
</p>


<%= link_to 'Edit', edit_grant_ggroup_path(@grant_ggroup) %> |
<%= link_to 'Back', grant_ggroups_path %>