<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.ziscloud.zcdiagram.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="工程项目管理"
            class="com.ziscloud.zcdiagram.ui.MainPerspective"
            id="com.ziscloud.zcdiagram.perspective.main">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.ziscloud.zcdiagram.application"
            name="ZC Diagram">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif,icons/alt_window_48.png">
         </property>
         <property
               name="appName"
               value="ZC Diagram">
         </property>
         <property
               name="aboutImage"
               value="icons/alt_about.png">
         </property>
         <property
               name="aboutText"
               value="ZC Diagram&#x0A;&#x0A;Version:1.0.0&#x0A;Build id: M20090211-1700&#x0A;&#x0A;(c) Copyright Eclipse contributors and others 2000, 2009.  All rights reserved.&#x0A;Visit http://www.eclipse.org/platform&#x0A;&#x0A;This product includes software developed by the&#x0A;Apache Software Foundation http://www.apache.org/">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="zcdiagram.conf.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.ziscloud.zcdiagram.view.ProjectView"
            id="com.ziscloud.zcdiagram.ProjectView"
            name="工程项目"
            restorable="true">
      </view>
      <view
            class="org.eclipse.ui.views.properties.PropertySheet"
            id="org.eclipse.ui.views.PropertySheet"
            name="属性页"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.ziscloud.zcdiagram.perspective.main">
         <view
               closeable="false"
               id="com.ziscloud.zcdiagram.ProjectView"
               minimized="false"
               moveable="true"
               ratio="0.3"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.eclipse.ui.views.PropertySheet"
               minimized="true"
               moveable="true"
               ratio="0.6"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.ziscloud.zcdiagram.toolbars.main">
            <command
                  commandId="com.ziscloud.zcdiagram.commands.addProject"
                  icon="icons/new_project.png"
                  id="com.ziscloud.zcdiagram.toolbars.main.newProject"
                  style="push"
                  tooltip="新建工程">
            </command>
            <command
                  commandId="com.ziscloud.zcdiagram.commands.deleteProject"
                  icon="icons/del_project.png"
                  id="com.ziscloud.zcdiagram.toolbars.main.deleteProject"
                  style="push"
                  tooltip="删除工程项目">
            </command>
            <command
                  commandId="com.ziscloud.zcdiagram.commands.openDiagram"
                  icon="icons/diagram.png"
                  id="com.ziscloud.zcdiagram.toolbars.main.openDiagram"
                  style="push"
                  tooltip="打开网络图">
            </command>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  icon="icons/about.png"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.helpContents"
                  icon="icons/help.png"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="commands related to project"
            id="com.ziscloud.zcdiagram.commandCategory.project"
            name="commands related to project">
      </category>
      <command
            categoryId="com.ziscloud.zcdiagram.commandCategory.project"
            description="New project"
            id="com.ziscloud.zcdiagram.commands.addProject"
            name="New project">
      </command>
      <command
            categoryId="com.ziscloud.zcdiagram.commandCategory.project"
            description="Open project"
            id="com.ziscloud.zcdiagram.commands.openProject"
            name="Open project">
      </command>
      <command
            categoryId="com.ziscloud.zcdiagram.commandCategory.project"
            description="Open Diagram"
            id="com.ziscloud.zcdiagram.commands.openDiagram"
            name="Open Diagram">
      </command>
      <command
            categoryId="com.ziscloud.zcdiagram.commandCategory.project"
            description="Delete Project"
            id="com.ziscloud.zcdiagram.commands.deleteProject"
            name="Delete Project">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.ziscloud.zcdiagram.handler.AddProjectHandler"
            commandId="com.ziscloud.zcdiagram.commands.addProject">
      </handler>
      <handler
            class="com.ziscloud.zcdiagram.handler.OpenProjectHandler"
            commandId="com.ziscloud.zcdiagram.commands.openProject">
      </handler>
      <handler
            class="com.ziscloud.zcdiagram.handler.OpenDiagramHandler"
            commandId="com.ziscloud.zcdiagram.commands.openDiagram">
         <enabledWhen>
            <and>
               <with
                     variable="activePartId">
                  <equals
                        value="com.ziscloud.zcdiagram.ProjectView">
                  </equals>
               </with>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="com.ziscloud.zcdiagram.handler.DeleteProjectHandler"
            commandId="com.ziscloud.zcdiagram.commands.deleteProject">
         <enabledWhen>
            <and>
               <with
                     variable="activePartId">
                  <equals
                        value="com.ziscloud.zcdiagram.ProjectView">
                  </equals>
               </with>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </and>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.ziscloud.zcdiagram.editor.ProjectEditor"
            default="false"
            id="com.ziscloud.zcdiagram.editor.projectEditor"
            name="Project Editor">
      </editor>
      <editor
            class="com.ziscloud.zcdiagram.editor.DiagramEditor"
            contributorClass="com.ziscloud.zcdiagram.handler.DiagramActionBarContributor"
            default="false"
            id="com.ziscloud.zcdiagram.editor.diagramEditor"
            name="Diagram Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.ziscloud.zcdiagram.ui.EarlyStartup"></startup>
   </extension>

</plugin>
